<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="userForm">
  <div>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" formControlName="firstName">
  </div>

  <div>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" formControlName="lastName" />
    </div>

  <div>
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" />

  </div>

  <div>
  <label for="mobileNumber">Phone Number:</label>
  <input type="mobileNumber" id="mobileNumber" formControlName="mobileNumber" />

  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <p>Complete the form to enable button</p>
  <button type="submit" [disabled]=!userForm.valid>Create new User</button>
</form>



<mat-form-field>
  <mat-label>Rulouri</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<!--<div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  </form>
</div>-->
<!--
<div>
<mat-form-field class="example-full-width">
  <mat-label>Phone Number</mat-label>
  <input type="phoneNumber" matInput [formControl]="phoneNumberControl" [errorStateMatcher]="matcher"
         placeholder="Ex. 0712123123">
  <mat-hint>Errors appear instantly!</mat-hint>
  <mat-error *ngIf="emailFormControl.hasError('phone Number') && !emailFormControl.hasError('required')">
    Please enter a valid phone Number
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')">
    Phone Number is <strong>required</strong>
  </mat-error>
</mat-form-field>
</div>
-->

