<nav>
<!--  <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>-->
<!--  <a routerLink="/donations" routerLinkActive="active" ariaCurrentWhenActive="page">Donations</a>-->
<!--  <a routerLink="/change-password" routerLinkActive="active" ariaCurrentWhenActive="page">Change Password</a>-->
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
  <div class="dropdown">
    <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Donor</a>
    <div class="dropdown-content">
      <a routerLink="/donator/create" routerLinkActive="active" ariaCurrentWhenActive="page">Create</a>
      <a routerLink="/donator/edit" routerLinkActive="active" ariaCurrentWhenActive="page">Edit</a>
      <a routerLink="/donator/delete" routerLinkActive="active" ariaCurrentWhenActive="page">Delete</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
