<nav>
<!--  <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>-->
<!--  <a routerLink="/donations" routerLinkActive="active" ariaCurrentWhenActive="page">Donations</a>-->
<!--  <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>-->
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
  <!-- Example in another component's template -->
  <a routerLink="/create-user" routerLinkActive="active" ariaCurrentWhenActive="page">Create New User</a>

</nav>
<router-outlet></router-outlet>
<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->
