<nav>
<!--  <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>-->
<!--  <a routerLink="/donations" routerLinkActive="active" ariaCurrentWhenActive="page">Donations</a>-->
<!--  <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>-->
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
<!--  <div class="dropdown">
    <a class="dropdown" routerLinkActive="active" ariaCurrentWhenActive="page">Campaign</a>
    <div class="dropdown-content">
      <a routerLink="/campaign/create">Create Campaign</a>
      <a routerLink="/campaign/edit">Edit Campaign</a>
      <a routerLink="/campaign/delete">Delete Campaign</a> -->
  <div class="dropdown">
    <a class="dropbtn" routerLinkActive="active" ariaCurrentWhenActive="page">Campaign</a>
    <div class="dropdown-content">
      <a routerLink="/campaign/create">Create</a>
      <a routerLink="/campaign/edit">Edit</a>
      <a routerLink="/campaign/delete">Delete</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
