nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

nav a:hover {
  background-color: #555;
}

nav a.active {
  background-color: #ff5722;
}

nav a:last-child {
  margin-right: 0;
}


